#content
{
	margin: auto;
	width: 600px;
}
table{
	margin-bottom: 20px;
	border: 1px solid black;
	width: 100%;
	padding: 5px;
}
#exampleDiv{
	background: green;
}
#screenKey{
	background: black;
	color: white;
	font-size: 20px;
	padding: 5px;
	border-radius: 20%;
	min-width: 200px;
}
#instructions{display:none;}
#screenType{ font-weight: 900; padding: 5px;}
#domelements{display: none; margin-top: 50px;}
.glow #screenType{ background: red; color: white;}
.glow{
	transition: all 0.1s ease-in-out;
	box-shadow: 0 5px 15px rgba(66, 134, 244, .4);
	background: rgba(66, 134, 244, .4);
}
.glowRed{
	transition: all 0.1s ease-in-out;
	box-shadow: 0 5px 15px rgba(229, 9, 9, .4);
	background: rgba(229, 9, 9, .4);
	padding: 0px 5px 5px 5px;
	color: black;
}