.htaccess
composer.phar
vendor/
.DS_Store
php_errorlog



#Ignore Project Folders
p/css/begginer/other/*
!p/css/begginer/other/.gitkeep

#Ignore Project Folders
p/css/beginner/other/*
!p/css/beginner/other/.gitkeep

