.htaccess
composer.phar
vendor/
.DS_Store
php_errorlog



#Ignore Project Folders
#p/css/beginner/other/*
#p/css/junior/bootstrap/*
#p/javascript/beginner/other/*
#p/javascript/beginner/counters/*
#p/javascript/beginner/webpack/*


!.gitkeep