[submodule "p/php/junior/api/portfolio-api"]
	path = p/php/junior/api/portfolio-api
	url = git@bitbucket.org:codingacademy/portfolio-api.git
[submodule "p/css/senior/other/chat-system-views"]
	path = p/css/senior/other/chat-system-views
	url = git@bitbucket.org:codingacademy/chat-system-views.git
[submodule "p/php/senior/api/chat-system-api"]
	path = p/php/senior/api/chat-system-api
	url = git@bitbucket.org:codingacademy/chat-system-api.git
[submodule "p/php/junior/other/simple-mvc"]
	path = p/php/junior/other/simple-mvc
	url = git@bitbucket.org:codingacademy/simple-mvc.git
