a{
  background-image: none;
  cursor: pointer;

}
.options-component{
     background-color: white;
        z-index: 20;
}

.jumbotron{
    background: transparent !important;
}

.list li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color:black; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.linkDecoration{
    text-decoration: underline;
    color:#74AAF9;
}
.gradientFooter{
  background-image: linear-gradient(#FFFFFF,#E9ECEF);
}

.gradient{
    background-image: linear-gradient(#E9ECEF, #FFFFFF);
}

.fontFamily{

font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.author.badge{
    font-size: 16px;
}

.paddingLeftZero{
    padding-left: 0!important;
}

.single-project{
    margin-top: -60px;
}

.fa-play{
    font-size: 13px;
}

.language-switcher{
    position: fixed;
    width: 40px;
    cursor: pointer;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    font-size: 10px;
    box-sizing: border-box;
    border-radius: 25px;
}
.language-switcher .icon{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.2);
}
.language-switcher ul{
        display: none;
        padding: 0;
        margin: 0;
}
.language-switcher ul li{
    list-style: none;
    width: 40px;
    padding: 5px;
    margin-top: -4px;
    margin-left: -6px;
}
.language-switcher ul li:hover{
        border: 1px solid #f8f9fa;
        background: white;
}
.language-switcher ul li:hover ul{ display: block; }