@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 50px;
}

button {
  display: block;
  margin: 0 auto;
}

output {
  display: block;
  width: 116px;
  margin: 0 auto;
}

.shuffle {
  background: silver;
  color: #fff;
  border: 0;
  border-radius: 5px;
  margin: 0 auto 10px auto;
  padding: 5px 10px;
}

.card {
  width: 27px;
  height: 37.8px;
  border: 1px solid silver;
  border-radius: 5px;
  float: left;
  text-align: center;
  margin: 0 2px 2px 0;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  padding: 2px 0;
  line-height: 1;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  letter-spacing: -1px;
}

[data-suit="C"]::after {
  content: '♣';
}

[data-suit="D"]::after {
  content: '♦';
  color: red;
}

[data-suit="H"]::after {
  content: '♥';
  color: red;
}

[data-suit="S"]::after {
  content: '♠';
}
