@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dr-menu {
	width: 70%;
	min-width: 400px;
	position: relative;
	font-size: 1.8em;
	font-weight: 400;
	color: #fff;
	padding-top: 2em;
}
.dr-menu.dr-menu-open{
	padding-top: 3em;
	background: rgba(0,0,0,0.8);
}
.dr-menu > div  {
	cursor: pointer;
	position: absolute;
	z-index: 100;
}
.dr-trigger{background: #08c; border-radius: 20px; padding: 10px; left: 10px;}
.dr-menu-open .dr-trigger{background: none; width: 100%;padding: 0px; transition: all 0.2s ease;}
#menu-items{margin-top: 20px; max-height: 75vh; overflow-x: hidden; overflow-y: auto; margin-bottom: 20px;}
.dr-menu > div .dr-icon {
	top: 9px;
	left: 5px;
	position: absolute;
	padding: 0 10px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.dr-menu.dr-menu-open > div .dr-icon {
	top:0;
	left:0;
	color: white;
	left: 90%;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}

.dr-menu > div .dr-icon:after {
	content: "\ea38";
	position: absolute;
	font-size: 50%;
	line-height: 2.8em;
	left: -10%;
	opacity: 0;
}

.dr-menu.dr-menu-open > div .dr-icon:after {
	opacity: 1;
}

.dr-menu > div .dr-label {
	padding-left: 3em;
	position: relative;
	display: block;
	color: white;
	font-size: 0.9em;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.dr-menu.dr-menu-open > div .dr-label,.dr-menu.dr-menu-open > div .dr-icon {
	-webkit-transform: translateY(-90%);
	-moz-transform: translateY(-90%);
	-ms-transform: translateY(-90%);
	transform: translateY(-90%);
}

.dr-menu ul {
	padding: 0;
	margin: 0 3em 0 0;
	list-style: none;
	opacity: 0;
	position: relative;
	z-index: 0;
	pointer-events: none;
	-webkit-transition: opacity 0s linear 205ms;
	-moz-transition: opacity 0s linear 205ms;
	transition: opacity 0s linear 205ms;
}

.dr-menu.dr-menu-open ul {
	opacity: 1;
	z-index: 200;
	pointer-events: auto;
	-webkit-transition: opacity 0s linear 0s;
	-moz-transition: opacity 0s linear 0s;
	transition: opacity 0s linear 0s;
}

.dr-menu ul li {
	display: block;
	margin: 0 0 5px 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.dr-menu ul li:hover {
	background: black;
}

.dr-menu.dr-menu-open ul li {
	opacity: 1;
}

.dr-menu.dr-menu-open ul li:nth-child(2) {
	-webkit-transition-delay: 35ms;
	-moz-transition-delay: 35ms;
	transition-delay: 35ms;
}

.dr-menu ul li i{font-size: 16px; display: inline-block; background: rgba(255,255,255,0.1); color: white; padding: 5px 10px 5px 10px;}
.dr-menu ul li {
	padding: 0 20px;
}
.dr-menu ul li a{
	color: #fff;
}

.dr-menu ul li a:hover {
	color: #BDBDBD;
}

.dr-icon:before, 
.dr-icon:after {
	position: relative;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.dr-menu ul .dr-icon:before {
	margin-right: 15px;
}

.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list-numbered:after {
  content: "\ea38";
}