* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
header{background: black; height: 70px; padding: 10px;}
.main{width: 100%; height: 100%;}
.float-right {
  float: right;
}

.fa {
  font-size: .8em;
  line-height: 22px !important;
}

dropdown {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
}

dropdown label, dropdown ul li {
  display: block;
  width: 200px;
  background: #ECF0F1;
  padding: 15px 20px;
}

dropdown label:hover, dropdown ul li:hover {
  background: #1ABC9C;
  color: white;
  cursor: pointer;
}

dropdown label {
  color: #1ABC9C;
  border-left: 4px solid #1ABC9C;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

dropdown input {
  display: none;
}

dropdown input ~ ul {
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
dropdown input:checked + label {
  background: #1ABC9C;
  color: white;
  border-radius: 0 10px 0 0;
}

dropdown input:checked ~ ul {
  visibility: visible;
  opacity: 1;
  top: 0;
}

dropdown ul li:nth-child(1) {
  border-left: 4px solid #e7c33c;
}
dropdown ul li:nth-child(1) .fa {
  color: #e7c33c;
}
dropdown ul li:nth-child(1):hover {
  background: #e7c33c;
  color: white;
}
dropdown ul li:nth-child(1):hover .fa {
  color: white;
}

dropdown ul li:nth-child(2) {
  border-left: 4px solid #0072B5;
}
dropdown ul li:nth-child(2) .fa {
  color: #0072B5;
}
dropdown ul li:nth-child(2):hover {
  background: #0072B5;
  color: white;
}
dropdown ul li:nth-child(2):hover .fa {
  color: white;
}

dropdown ul li:nth-child(3) {
  border-left: 4px solid #2C3E50;
}
dropdown ul li:nth-child(3) .fa {
  color: #2C3E50;
}
dropdown ul li:nth-child(3):hover {
  background: #2C3E50;
  color: white;
}
dropdown ul li:nth-child(3):hover .fa {
  color: white;
}
dropdown ul li:nth-child(4) {
  border-left: 4px solid #E74C3C;
}
dropdown ul li:nth-child(4) .fa {
  color: #E74C3C;
}
dropdown ul li:nth-child(4):hover {
  background: #E74C3C;
  color: white;
}
dropdown ul li:nth-child(4):hover .fa {
  color: white;
}
.animate {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
}
