<html>
<head>
	<title>Timer App</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{{ assetsURL }}css/demo.css?v{{ version }}">
</head>
<body>
	<header>
		<dropdown id="the-dropdown">
		  <input id="toggle" type="checkbox">
		  <label for="toggle" class="animate"></label>
		  <ul class="animate">
		    <li id="demo" class="animate"><a href="#">Live Demo</a><i class="fa fa-desktop float-right"></i></li>
		    <li id="readme" class="animate"><a href="#">Readme</a><i class="fa fa-file-text-o float-right"></i></li>
		    <li id="source" class="animate"><a href="#">Source</a><i class="fa fa-code float-right"></i></li>
		    <li id="fullpage" class="animate"><a href="#">Fullpage</a><i class="fa fa-arrows-alt float-right"></i></li>
		    <li id="video" class="animate"><a href="#">Video</a><i class="fa fa-youtube-play float-right"></i></li>
		  </ul>
		</dropdown>
		<h1 id="the-title"></h1>
	</header>

    <div class="main">
    	<iframe id="the-demo" width="100%" height="100%" frameborder="0" src="#"></iframe>
    </div>
	
	<script type="text/javascript" src="{{ assetsURL }}js/jquery-3.2.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript">
		var currentState = "demo";
		$(document).ready(function(){
			$.ajax({
				url:"/projects.php",
				data: { slug: '{{requestSlug}}'},
				success: function(data){
					if(data && data.slug)
					{
						document.querySelector('#the-demo').src = data.url;
						if(data.title) $('#the-title').html(data.title);

						loadReadme(data);
						loadSource(data);
						loadFullpage(data);
						loadVideo(data);
						loadDemo(data);
						
						var hash = location.hash;
						if(hash.length>1) changeTo(hash.substring(1,hash.length), data);
						else changeTo("demo", data)

					}
					else document.querySelector('#the-demo').src = "/?d";
				},
				error: function(p1,p2,errorString){
					//alert("Error retreiving "+errorString);
				}
			});
		});

		function loadFullpage(data)
		{
			if(data.url)
			{
				$("#fullpage a").click(function(){
					window.location.href = data.url;
				});
			}
		}

		function loadVideo(data)
		{
			if(data['video-path'])
			{
				$("#video a").click(function(){
					changeTo('video',data);
				});
			}
		}

		function loadDemo(data)
		{
			if(data.url)
			{
				$("#demo a").click(function(){
					changeTo('demo',data);
				});
				
			}
		}

		function loadReadme(data)
		{
			if(data.readme)
			{
				$("#readme a").click(function(){
					changeTo('readme',data);
				});
			} 
		}

		function loadSource(data)
		{
			if(data['source-code'])
			{
				$("#source a").attr("href",data['source-code']);
			}
		}

		function changeTo(state,data)
		{
			switch(state)
			{
				case "video":
					$('#the-demo').attr("src","{{projectsGlobalURL}}?vtutorial="+data['video-path']);
					currentState = state;
				break;
				case "demo":
					$('#the-demo').attr("src",data.url);
					$("#demo").hide();
					currentState = state;
				break;
				case "readme":
					skin = 'modest';
					if(data.skin) skin = data.skin;
					$('#the-demo').attr("src","{{assetsGlobalURL}}live-demos/markdown-parser/?skin="+skin+"&path={{projectsGlobalURL}}"+data.readme);
					currentState = state;
				break;
			}
			refreshMenu(data);
		}

		function refreshMenu(data){

			if(currentState!=='demo' && data.url) $("#demo").show();
			else $("#demo").hide();

			if(currentState!=='video' && data['video-path']) $("#video").show();
			else $("#video").hide();

			if(data.readme) $("#readme").show();
			else $("#readme").hide();

			if(data['source-code']) $("#source").show();
			else $("#source").hide();

			if(data.url && currentState==='demo') $("#fullpage").show();
			else $("#fullpage").hide();

			switch(currentState)
			{
				case "video":
					$('#the-dropdown label').html('Video Tutorial<i class="fa fa-youtube-play float-right"></i>');
				break;
				case "demo":
					$('#the-dropdown label').html('Live Demo<i class="fa fa-desktop float-right"></i>');
				break;
			}

		}
	</script>
</body>
</html>