<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ assetsURL }}css/style.css">
</head>
<body>
	<div id="content">
		<header>
			<img alt="{{ logo.alt }}" src="{{ logo.url }}" />
		</header>
		<p class="filter-content">
			Browse Tutorial Projects
			<select id="technology-options">
				<option value="true">All technologies</option>
				<option value="javascript">Javascript</option>
				<option value="css">CSS</option>
				<option value="php">PHP</option>
			</select>
			<!--
			<select id="difficulty-options">
				<option value="true">All Difficulties</option>
				<option value="beginner">Beginner</option>
				<option value="junior">Junior</option>
				<option value="senior">Senior</option>
			</select>
			-->
		</p>
		<div class="box">
		  <table class="directory-list">
		  </table>
		</div>
	</div>
	<script type="text/javascript" src="{{ assetsURL }}js/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="{{ assetsURL }}js/script.js"></script>
</body>
</html>