<html>
<head>
	<title>Timer App</title>
	<link rel="stylesheet" type="text/css" href="{{ assetsURL }}css/tutorial.css?v{{ version }}">
	<link rel="stylesheet" type="text/css" href="{{ assetsURL }}css/component.css?v{{ version }}" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<nav id="videomenu" class="dr-menu">
		<div class="dr-trigger">
			<a id="menu-title" class="dr-label">Topics Covered</a>
			<span class="dr-icon icon-list-numbered"></span>
		</div>
		<ul id="menu-items">
		</ul>
	</nav>
	<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>
	<script type="text/javascript" src="{{ assetsURL }}js/jquery-3.2.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ assetsURL }}js/modernizr.custom.js"></script>
	<script type="text/javascript" src="{{ assetsURL }}js/ytmenu.js?v{{ version }}"></script>
	<script type="text/javascript" src="{{ assetsURL }}js/player.js?v{{ version }}"></script>
	<script type="text/javascript">
		$(document).ready(function(){

			videotutorial.initialize({
				'selector':'player',
				'menu-selector':'menu-items',
				'timeline-url':'{{ videoJSON }}',
				'menu-title':'menu-title'
			});

		});
	</script>
</body>
</html>